* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: rgb(32, 43, 56);
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}
nav a:hover {
  text-decoration: underline;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation-title {
  color: white;
  text-align: center;
}
.header-wrapper {
  background-color: rgb(32, 43, 56);
  height: 100px;
  border-bottom: 2px solid white;
}
@media screen and (max-width: 660px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-wrapper {
    height: 100%;
  }
  nav a {
    margin-bottom: 10px;
  }
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}
